<footer class="rodape">
            <div class="direito">
                <img src="./img/logowiwap.svg">
                <h2> Fale com um de nossos especialistas.</h2>
                    <p> saiba como podemos te ajudar a aumentar as suas vendas! </p>
                <div class="form">
                    <form action="/action_page.php">
                        <div class="inputBox">
                        <input type="text" id="name" name="name" class="inputUser" required><br>
                        <label for="name" class="labelInput">Nome:</label>
                    </div><br>
                        <div class="inputBox">
                            <input type="email" id="email" name="email" class="inputUser"  required><br>
                            <label for="email" class="labelInput">Email:</label>
                    </div><br>
                        <div class="inputBox">
                        <input type="text" id="empresa" name="empresa" class="inputUser" required>
                        <label for="empresa" class="labelInput">Empresa:</label>
                    </div><br>
                        <div class="inputBox">
                        <input type="number" id="number" name="number" class="inputUser"  required>
                        <label for="telefone" class="labelInput">Telefone:</label>
                    </div><br>
                        <div class="inputBox">
                        <input type="mensagem" id="mensagem" name="mensagem" class="inputUser" required>
                        <label for="mensagem" class="labelInput">Mensagem:</label>
                    </div><br>  
                    </form>
                    <div class="conhecer">
                        <span class="conhecer" class="labelInput"><a href="./">ENVIAR MENSAGEM</a></span>
                    </div>
                </div>
            </div>
            <div class="lateral">
                <div class="partesobre">
                <nav class="sobre">
            <div>
                <h3 class="linha"><a href="./renegociacao.html">RENEGOCIAÇÃO</a></h3>
            </div>
        </br>
                <h3 class="linha" ><a href="./contato.html">CONTATO</a></h3>
        </br>
        </div>
        <div class="redessociais">
        <img src="./img/instagram.png">
        <img src="./img/linkedin .png">
        <p> nos siga em nossas redes sociais! </p>
        <p><strong> Todos os direitos reservados.
            W2p Soluções Financeiras Ltda.
            CNPJ 39.474.294/00001-29 </p>
        </strong>
        </div>
            </div>
        </nav>
    </footer>
        <script src="./js/mobilenav.js"></script>
</body>
</html>
.conhecer a:hover {
    background-color: #00A0A3;
    border: 2px solid #00A0A3;
    transition: 0.5s;
}
@media (max-width:800px){
    .rodape{
        display: flex;
        flex-wrap: wrap;
    }
    .lateral {
        background-color: #C0CDD8;
        margin: 0px;
        padding: 0px;
    }
}
