.rodape {
    background: #C0CDD8;
    padding:20px;
    margin: 0px;
    height: 500px;
    box-shadow: 0 0 1px #C0CDD8;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1500px;
}
.direito {
    font-size: Poppins;
    color: #003462;
}
.linha {
    color: #003462;
    border-left: 1px solid #003462;
    padding-left: 40px;
}
.form {
    background-color: rgba(245, 245, 245, 0.295);
    height: 325px;
    width: 400px;
    border-radius: 3px;
    padding: 20px;
    border: 1px solid #95aeaf;
    box-shadow: 0 0 1px #C0CDD8;
}
.lateral {
    padding-top: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.redessociais img{
    padding-left: 50px;
    height: 50px;
    width: 50px;
}
.lateral a{
    color: #003462;
}
.inputBox {
    position: relative;
}
.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid #33AFB4;
    outline: none;
    color:#003462;
    font-size: 15px;
    font-family: Poppins;
    width: 100%;
    letter-spacing: 2px;
    padding: 5px;
}
.labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
}
.inputUser:focus ~.labelInput, 
.inputher:valid ~.labelInput{
    top: -20px;
    font-size: 12px;
    color:#33AFB4
}
.direito img{
    height: 30px;
}
.conhecer {
    padding-top: 10px;
}
.conhecer a{
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    text-decoration: none;
    color: #003462;
    background-color: #00346200;
    padding: 10px 15px;
    border: 2px solid;
    border-radius: 2px;
    border-color: #003462;
    box-shadow: 0 0 2px #383838;
    justify-items: center;
    text-align: center;
}
.conhecer a:hover {
    background-color: #00A0A3;
    border: 2px solid #00A0A3;
    transition: 0.5s;
}
@media (max-width:800px){
    .rodape{
        display: flex;
        flex-wrap: wrap;
    }
    .lateral {
        background-color: #C0CDD8;
        margin: 0px;
        padding: 0px;
    }
}
