.introducao-bg {
    background-color: #E6E7E8;
}
.introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
    box-sizing: border-box;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.introducao img{
    grid-column: 1;
    grid-row: 1/2;
}
.introducao h1 {
    line-height: 1.100;
    font-size: 46px;
    color: #00172C;
}
.introducao-funcionalidades {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    justify-items: end;
}
.introducao-funcionalidades a {
    display: inline-block;
    gap: 40px;
    padding: 16px 32px;
    background: linear-gradient( #035D95, #003462);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #E6E7E8;
}
.introducao-funcionalidades a:hover{ 
    background: linear-gradient( #035080, #00223f);
}
@media (max-width:800px) {
    .introducao{
        display: block;
        grid-template-columns: 1fr;
        gap:10px;
        box-sizing: border-box;
        padding:20px;
        margin-left: auto;
        margin-right: auto;
    }
    .introducao img{
        display: none;
    }
    .introducao h1 {
        font-size: 36px;
    }
    .introducao ul{
        padding: 5px;
    }
    .introducao-funcionalidades {
        display: flex;
        gap: 20px;
        margin-left:0px;
        }
    .introducao-funcionalidades a{
        padding: 8px 16px;
        font-size: 12px;
    }
}
