.marcas-celulares{
    padding: 20px 50px;
    text-align: center;
    background-color: #D7DEE4;
}
.marcas-celulares h3{
    padding-bottom: 0px;
}
.marcas-lista {
 display: flex;
 gap: 80px;
 max-width: 1400px;
 margin-left: auto;
 margin-right: auto;
 padding: 20px 200px;
 overflow-x: auto;
}
.marcas-lista li {
    min-width: 100px;
    flex: 1;
}
@media (max-width: 800px){
    .marcas-celulares{
        padding: 10px 25px;
        background-color: #D7DEE4;
    }
    .marcas-lista {
        display: flex;
        gap: 30px;
        padding: 20px;
    }
}