.lista-clientes {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
    font-weight: bold;
    color: #33AFB4;
}
.lista-clientes ul {
    display: flex;
    gap: 40px;
    padding: 0 10px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
}
.lista-clientes li{
    min-width: 100px;
    flex: 1;
}
.lista-clientes a {
    display: block;
    cursor: pointer;
    height: 60px;
    padding: 20px;
    box-shadow: 0 4px 5px rgba(33, 14, 201, 0.1);
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 4px;
    text-align: center;
}
@media (max-width:800px) {
    .lista-clientes{
        padding-bottom: 10px;
        padding-top: 15px;
    }
    .lista-clientes ul {
        gap: 5px;
        padding-bottom: 15px;
    }
    .lista-clientes a {
        padding: 10px;
        height: 30px;
        width: 60px;
        font-size: 12px;
    }
    }
