..processo {
    padding-left: 70px;
    color: #003462;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.linhadotempolojista {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 0px;
    padding-top: 0px;
    padding-bottom: 70px;
    margin-left: 70px;
    margin-right: 70px;
}
.primeiro {
    padding-left: 30px;
    background-image: url(./fundo-wwp.svg);
}
.primeiro:hover {
    border-left: 4px solid #003462;
}
.segundo {
    padding-left: 70px ;
    background-image: url(./fundo-wwp.svg);
}
.segundo:hover {
    border-right: 4px solid #003462;
}
.comoFuncionaLogista h2 {
    color: #003462;
    padding-top: 70px;
}
.comoFuncionaLogista p {
    color: #383838;
    margin-top: 10px;
}
.simulação a:hover{
    background-color: #33AFB4;
    transition: 0.5s;
    border-color: #33AFB4;
}
.comecar {
    padding-left: 20px;
    border-radius: 50px;
}
.num {
    color: #003462;
}
.comecar a:hover{
    color: #e6e7e8;
    border-color: #00A0A3;
    background-color: #00A0A3;
    box-shadow: 0 0 2px #00A0A3;
}
@media (max-width:800px){
    .linhadotempolojista{
        display: block;
        padding: 0px;
        padding-bottom: 30px;
        background-color:#D7DEE4;
        margin: 0px;
    }
    .primeiro{
        height: 100px;
        }
    .segundo{
        height: 150px;
        padding-left: 30px;;
        }
    .adaptacao {
        grid-template-columns: 1fr;
    }  
    .trabalho {
        color: #383838;
        padding: 20px;
    }
    .trabalho {
        padding: 10px;
    }
    .trabalho p {
        color: #383838;
    }
    .trabalho li{
        color: #383838;
        padding-left: 40px;
        border-left: 1px solid #383838;
    }
    .trabalho li{
        padding-left: 10px;
    }
    .fim{
        display: none;
    }
}
