.parteempresa {
    display: block;
    height: 400px;
    background-color: #D7DEE4 ;
    color: #e6e7e8;
    padding-left: 50px;
}
.adaptacao {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.processo {
    padding-left: 70px;
    color: #003462;
}
.parteempresa a {
    color:#33AFB4;
    padding: 15px 15px;
    background-color: #93cdce00;
    text-decoration: none;
    border-radius: 50px;
}
.parteempresa a:hover {
    color: #e6e7e8;
    background-color: #33AFB4;
    border-color: #33AFB4;
}
.aumenteVendas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.vendas {
    display: grid;
    gap: 30px;
}
.vendas p{
    color: #383838;
}
.comoFuncionaLogista h2{
    color: #003462;
    text-align: left;
    padding: 50px;
}
.flexibilidade {
    display: block;
    margin: 0px;
    height: 400px;
    font-size: 20px;
    color: #003462;
    background-image: url(./fundo-experiencia.svg);
}
.flexibilidade h1{
    padding-top: 150px;
}
.clique{
    margin-left: 600px;
}
.bt-acao a{
    color: #33AFB4;
}
.bt-acao a::after{
    display: none;
}
.bt-acao a:after{
    content: "";
    background-color: #00A0A3;
    display: block;
    height: 3px;
    width: 0px;
    transition: 0.3s;
    position: absolute;
}
.bt-acao a:hover:after{
    width: 16%;
}
.subtitle {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    font-size: Poppins;
}
.subtitle p {
    color: #383838;
    font-size: 16px;
}
.linhadotempolojista {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 0px;
    padding: 30px 10px;
}
.primeiro {
    padding-left: 30px;
    background-image: url(./fundo-wwp.svg);
}
.primeiro:hover {
    border-left: 4px solid #003462;
}
.lojista {
    display: none;
}
.lojista a{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-decoration: none;
    color: #003462;
    background-color: #00346200;
    padding: 10px 15px;
    border: 2px solid;
    border-radius: 2px;
    border-color: #003462;
    box-shadow: 0 0 2px #383838;
    justify-items: center;
}
.lojista a:hover{
    background-color: #33AFB4;
    transition: 0.5s;
    border-color: #33AFB4;
}
.segundo {
    padding-left: 70px ;
    background-image: url(./fundo-wwp.svg);
}
.segundo:hover {
    border-right: 4px solid #003462;
}
.comoFuncionaLogista h2 {
    color: #003462;
    padding-top: 100px;
}
.comoFuncionaLogista p {
    color: #383838;
    margin-top: 10px;
}
.simulação a:hover{
    background-color: #33AFB4;
    transition: 0.5s;
    border-color: #33AFB4;
}
.comecar {
    padding-left: 20px;
    border-radius: 50px;
}
.num {
    color: #003462;
}
.comecar a:hover{
    color: #e6e7e8;
    border-color: #00A0A3;
    background-color: #00A0A3;
    box-shadow: 0 0 2px #00A0A3;
}
@media (max-width:800px){
    .parteempresa {
        display: none;
    }
    .clique{
        display: none;
    }
    .linhadotempolojista{
        display: block;
        padding: 0px;
        background-color:#D7DEE4;;
    }
    .primeiro{
        height: 100px;
        }
    .segundo{
        height: 150px;
        padding-left: 30px;;
        }
    .adaptacao {
        grid-template-columns: 1fr;
    }  
    .trabalho {
        color: #383838;
        padding: 20px;
    }
    .trabalho {
        padding: 10px;
    }
    .trabalho p {
        color: #383838;
    }
    .trabalho li{
        color: #383838;
        padding-left: 40px;
        border-left: 1px solid #383838;
    }
    .trabalho li{
        padding-left: 10px;
    }
    .flexibilidade{
        padding-top: 20px;
        background-image: none;
    }
    .fim{
        display: none;
    }
}

    .flexibilidade{
        padding-top: 20px;
        background-image: none;
    }
    .fim{
        display: none;
    }
}
