.parceria-bg {
    padding: 50px 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 20px;
}
.lista-parceria {
    padding-top: 20px;
    padding-bottom: 20px;
}
.lista-parceria li {
    display: grid;
    grid-template-columns: auto 1fr;
}
.parceria-button {
    padding: 20px 10px;
    background-color: #93CDCE;
    border-radius: 4px;
    display: inline-block;
}
.parceria-button a{
    color: #FFF;
}
.button-formulario {
    padding: 10px 10px;
    background-color: #014976;
    border-radius: 4px;
    display: inline-block;
    margin-top: 10px;
}
.button-formulario a{
    color: #93CDCE;
}
.form input {
    width: 100%;
    font-size: 16px;
    padding: 2px;
    font-family: Poppins;
    border: 2px solid #93CDCE;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.603);
}
.form label {
    display: block;
    padding-bottom: 5px;
}
textarea {
    font-size: 16px;
    font-family: Poppins;
    width: 100%;
    border: 2px solid #93CDCE;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.603);
    padding: 2px;
}