/* UTILIDADES */
@import url(../css/utilidades/formulario.css);
@import url(./global.css);
/* MENU */
@import url(./header.css);
@import url(./login.css);
/* AREA CLIENTE */
@import url(./introducao.css);
@import url(./opcoescliente.css);
@import url(./renegociação.css);
@import url(./cartabeneficiario.css);
/* AREA LOJISTA */
@import url(./parasuaempresa.css);
@import url(./marcas.css);
/* RODAPÉ */
@import url(./footer.css);
/* PROCESSOS */
@import url(./comofunciona.css);
/* PERGUNTAS FREQUENTES */
@import url(./perguntas.css);
@import url(./politicaseprivacidade.css);
/* VANTAGENS LOJISTA */
@import url(./vantagens.css);
/* CONTATO */
@import url(./contato.css);
@import url(./parceria.css);
