.vantagens {
    padding: 20px 100px;
}
.vantagens ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, 180px);
    padding-left: 60px;
    gap: 40px 80px;
    margin-top: 30px;
}
.vantagens img{
    height: 60px;
    width: 60px;
}
.vantagens li{
    text-align: center;
}
.area-cliente {
    display: grid;
    grid-template-columns: 1fr auto;
}
.area-cliente h2{
    padding-top: 50px;
}
.area-cliente img {
    height: 150px;
    width: 90px;
}
@media (max-width: 800px){
    .vantagens {
        padding: 25px 30px
    }
    .vantagens h2{
        margin-bottom: 10px;
    }
    .vantagens ul {
        gap:20px;
        grid-template-columns: 1fr;
        padding-left: 0px;
    }
}
